#_a_overlay, #_a_overlay span, #_a_overlay input, #_a_overlay input[type="text"] { /*reset*/  
  border:none; padding:0; margin:0; background-color:transparent !important; 
  font-family: arial, sans-serif; font-size: 13px; color: #fff; text-align: left;
  font-variant:normal; text-transform:none;
}

#_a_overlay a { color:#fff; outline:none !important; text-decoration:none; }
/*#_a_overlay a:hover { text-decoration:underline; }*/
#_a_overlay { position: fixed; left:0; top: 0px; width: 1260px; height: 150px; padding: 0; z-index: 2147483647; overflow: hidden; opacity: .98; }
#_a_overlay > div { margin:0; }
#_a_overlay img { margin:0; display:block; }

#_a_overlay #_a_content { height:100%; position:relative;}
#_a_overlay #_a_iframe { width:100%; height:100%; border:none !important; background-color:transparent !important; z-index:3; 
    visibility:visible;
    position:relative;
    left:0;
	overflow:hidden;
}

#_a_overlay #_a_header { height:27px; position:absolute; background:url(images/rollbar.png); right:22px; top:3px; width:256px !important; display:block; z-index:4;}
#_a_header #_a_close { position: absolute; font-size:26px; color:none; background:transparent !important; filter: alpha(opacity=10); opacity:0.1; right:50px; top:0px; width:85px !important; height:27px !important; display:block; z-index:5; overflow:hidden;  }
#_a_overlay #_a_roll { position: absolute; font-size:26px; color:none; background:transparent !important; filter: alpha(opacity=10); opacity:0.1; right:135px; top:0px; width:85px !important; height:27px !important; display:block; z-index:6; overflow:hidden;  }
/*#_a_overlay a { width:23px; height:29px; display:block; overflow:hidden; text-indent:-1000em;   }*/

#_b_overlay, #_b_overlay span, #_b_overlay input, #_b_overlay input[type="text"] { /*reset*/  
  border:none; padding:0; margin:0; background-color:transparent !important; 
  font-family: arial, sans-serif; font-size: 13px; color: #fff; text-align: left;
  font-variant:normal; text-transform:none;
}

#_b_overlay a { color:#fff; outline:none !important; text-decoration:none; }
/*#_b_overlay a:hover { text-decoration:underline; }*/
#_b_overlay { position: fixed; right:0; top: 0; width: 338px; height: 100%; padding: 0; z-index: 2147483647; overflow:hidden; opacity: .98; }
#_b_overlay > div { margin:0; }


#_b_overlay #_b_content { height:100%; position:relative; }
#_b_overlay #_b_iframe { width:100%; height:100%; border:none !important; background-color:transparent !important; z-index:3; 
    visibility:visible;
    position:relative;
    left:0;
	overflow:hidden;
}

#_b_overlay #_b_header { height:27px; position:absolute; background:url(images/rollbar.png); right:2px; top:0px; width:256px !important; display:block; z-index:4;}
#_b_header #_b_close { position: absolute; font-size:27px; color:none; background:transparent !important; filter: alpha(opacity=10); opacity:0.1; right:50px; top:0px; width:85px !important; height:27px !important; display:block; z-index:5; overflow:hidden;  }
#_b_header #_b_roll { position: absolute; font-size:27px; color:none; background:transparent !important; filter: alpha(opacity=10); opacity:0.1; right:135px; top:0px; width:85px !important; height:27px !important; display:block; z-index:5; overflow:hidden;  }
/*#_b_overlay a { width:23px; height:29px; display:block; overflow:hidden; text-indent:-1000em;   }*/


#_c_overlay, #_c_overlay span, #_c_overlay input, #_c_overlay input[type="text"] { /*reset*/  
  border:none; padding:0; margin:0; background-color:transparent !important; 
  font-family: arial, sans-serif; font-size: 13px; color: #fff; text-align: left;
  font-variant:normal; text-transform:none;
}

#_c_overlay a { color:#fff; outline:none !important; text-decoration:none; }
/*#_c_overlay a:hover { text-decoration:underline; }*/
#_c_overlay { position: fixed; left:0; top: 150px; width: 244px; height: 100%; padding: 0; z-index: 2147483646 !important; overflow: hidden; opacity: .98; }
#_c_overlay > div { margin:0; }
#_c_overlay img { margin:0; display:block; }

#_c_overlay #_c_content { height:100%; position:relative; }
#_c_overlay #_c_iframe { width:100%; height:100%; border:none !important; background-color:transparent !important; z-index:3; 
    visibility:visible;
    position:relative;
    left:0;
	overflow:hidden;
}

#_c_overlay #_c_header { height:27px; position:absolute; background:url(images/rollbar.png); left:-8px; top:0px; width:256px !important; display:block; z-index:4;}
#_c_header #_c_close { position: absolute; font-size:27px; color:none; background:transparent !important; filter: alpha(opacity=0); opacity:0.0; right:50px; top:0px; width:85px !important; height:27px !important; display:block; z-index:5; overflow:hidden;  }
#_c_header #_c_roll { position: absolute; font-size:27px; color:none; background:transparent !important; filter: alpha(opacity=0); opacity:0.0; right:135px; top:0px; width:85px !important; height:27px !important; display:block; z-index:6; overflow:hidden;  }
/*#_c_overlay a { width:23px; height:29px; display:block; overflow:hidden; text-indent:-1000em;   }*/


#_d_overlay, #_d_overlay span, #_d_overlay input, #_d_overlay input[type="text"] { /*reset*/  
  border:none; padding:0; margin:0; background-color:transparent !important; 
  font-family: arial, sans-serif; font-size: 13px; color: #fff; text-align: left;
  font-variant:normal; text-transform:none;
}

#_d_overlay a { color:#fff; outline:none !important; text-decoration:none; }
/*#_d_overlay a:hover { text-decoration:underline; }*/
#_d_overlay { position: fixed; left:0; bottom: 0; width: 1260px; height: 165px; padding: 0; z-index: 2147483650 !important; opacity: .98; }
#_d_overlay > div { margin:0; }

#_d_overlay #_d_content { height:100%; position:relative; }
#_d_overlay #_d_iframe { width:100%; height:100%; border:none !important; background-color:transparent !important; z-index:5; 
    visibility:visible;
    position:relative;
    left:0;
	overflow:hidden;
}

#_d_overlay #_d_header { height:27px; position:absolute; background:url(images/rollbar.png); left:0px; top:0px; width:256px !important; display:block; z-index:10;}
#_d_header #_d_close { position: absolute; font-size:27px; color:none; background:transparent !important; filter: alpha(opacity=0); opacity:0.0; right:50px; top:0px; width:85px !important; height:27px !important; display:block; z-index:5; overflow:hidden;  }
#_d_header #_d_roll { position: absolute; font-size:27px; color:none; background:transparent !important; filter: alpha(opacity=0); opacity:0.0; right:135px; top:0px; width:85px !important; height:27px !important; display:block; z-index:6; overflow:hidden;  }



#_e_overlay, #_e_overlay span, #_e_overlay input, #_e_overlay input[type="text"] { /*reset*/  
  border:none; padding:0; margin:0; background-color:transparent !important; 
  font-family: arial, sans-serif; font-size: 13px; color: #fff; text-align: left;
  font-variant:normal; text-transform:none;
}

#_e_overlay a { color:#fff; outline:none !important; text-decoration:none; }
/*#_e_overlay a:hover { text-decoration:underline; }*/
#_e_overlay { position: fixed; left:244px; top:150px; width: 1012px; height: 514px; padding: 0; z-index: 2147483655 !important; opacity: .98; /*display:none;*/ }
#_e_overlay > div { margin:0; }

#_e_overlay #_e_content { height:100%; position:relative; }
#_e_overlay #_e_iframe { width:100%; height:100%; border:none !important; background-color:transparent !important; z-index:5; 
    visibility:visible;
    position:relative;
    left:0;
	overflow:hidden;
}

#_e_overlay #_e_header { height:27px; position:absolute; background:url(images/rollbar.png); right:70px; top:5px; width:256px !important; display:block; z-index:6;}
#_e_header #_e_close { position: absolute; font-size:27px; color:none; background:transparent !important; filter: alpha(opacity=10); opacity:0.0; right:50px; top:0px; width:85px !important; height:27px !important; display:block; z-index:7; overflow:hidden;  }
#_e_header #_e_roll { position: absolute; font-size:27px; color:none; background:transparent !important; filter: alpha(opacity=10); opacity:0.0; right:135px; top:0px; width:85px !important; height:27px !important; display:block; z-index:8; overflow:hidden;  }

