﻿body 
{
	margin:0px 0px 0px 0px;
	border:0px 0px 0px 0px;
	font-family: "Times New Roman", Times, serif;
	font-size:12px;
}

a{
color:#354571;
}
a:link{
color:#354571;
text-decoration:none;
}
a:hover{
color:#354571;
text-decoration:underline;
}
a:visited{
color:#354571;
text-decoration:none;
}

.search_engine_optimization_lit1
{
	font-family: "Times New Roman", Times, serif;
	font-size:10px;
	color: Blue;
}
.SEO_links1
{
	font-family: "Times New Roman", Times, serif;
	font-size:10px;
}

.SEO_links1 a
{
	font-size:10px;
}

.SEO_links1 a:link
{
	font-size:10px;
	color:#000000;
}

.SEO_links1 a:hover
{
	font-size:10px;
	color:#000000;
	text-decoration:underline;
}

.SEO_links1 a:visited
{
	font-size:10px;
	color:#000000;
}

.SEO_links2
{
	font-family:Arial, Tahoma, Georgia;
	font-size:10px;
}

.SEO_links2 a
{
	font-size:10px;
}

.SEO_links2 a:link
{
	font-size:10px;
	color:Gray;
}

.SEO_links2 a:hover
{
	font-size:10px;
	color:Gray;
	text-decoration:underline;
}

.SEO_links2 a:visited
{
	font-size:10px;
	color:Gray;
}

.l2{
font-size:10px;
}

.myh2{
font-size:22px;
font-weight:bold;
text-transform:capitalize;
}

.myh3{
font-size:19px;
font-weight:bold;
text-transform:capitalize;
}
.reddate{
color:#CC0000;
}
.grayby{
color:#999999;
}
.SEO_smalllinks a{
font-size:9px;
}
.SEO_smalllinks a:link{
font-size:9px;
}
.SEO_smalllinks a:hover{
font-size:9px;
}

.SEO_marketing_HeightDiv{
height:1000px;
overflow:hidden;
}

hr {
	line-height: 1px;
	color: #CCCCCC;
}

h5{
margin-bottom:2px;
}

ul{
margin-top:2px;
}

.r_l{
width:146px;
border-left:solid 1px #CCCCCC;
border-top:solid 1px #CCCCCC;
float:left;
margin-bottom:5px;
padding-right:2px
}
.r_r{
width:140px;
padding-left:1px;
border-left:solid 1px #CCCCCC;
border-top:solid 1px #CCCCCC;
border-right:solid 1px #CCCCCC;
margin-bottom:5px;
float:left;
}
.search_engine_optimization_bottom_feed{
width:242px;
height:180px;
border-left:solid 1px #CCCCCC;
border-top:solid 1px #CCCCCC;
float:left;
margin-right:4px;
overflow:hidden;
}

.search_engine_optimization_bottom_feed2{
width:485px;
height:120px;
border-left:solid 1px #CCCCCC;
border-top:solid 1px #CCCCCC;
float:left;
margin-right:4px;
overflow:hidden;
}
