/*

    name: basic.css
    author: gregory tomlinson
    copyright: (c) 2010 bit.ly

*/
/* 
    RESETS  
*/
* { padding:0; margin:0; }
img {
    border:0;
}
body {
    font-family:Arial, sans-serif;
    font-size:12px;
    color:#333;
    background:transparent;
}
h1,h2,h3,h4,h5,h6,input,select,option,textarea {
    font-size:12px;
    font-family:Arial, sans-serif;    
}
ul {
    list-style:none;
}
.hr { clear:both; float:none; }
.hr hr { display:none; }
a {
    text-decoration:none;
    color:#69f;
    outline:none;    
}
a:hover {
    color:#4D81B3;
}

/*
    end resets
*/

#l_sidebar_container { 
        position: fixed; 
        top: 119px; 
        left: 0; 
        width: 380px; 
        height: 100%; 
        background: url('/s/graphics/sidebar_back.png') repeat-y; 
}

#mytable1 {
border-collapse: collapse; /* 'cellspacing' equivalent */
}

table td, 
table th,
table tr{
padding: 0; /* 'cellpadding' equivalent */
}