/*

    name: basic.css
    author: gregory tomlinson
    copyright: (c) 2010 bit.ly

*/
/* 
    RESETS  
*/
* { padding:0; margin:0; }
img {
    border:0;
}
body {
    font-family:Arial, sans-serif;
    font-size:12px;
    color:#333;
    background:transparent;
}
h1,h2,h3,h4,h5,h6,input,select,option,textarea {
    font-size:12px;
    font-family:Arial, sans-serif;    
}
ul {
    list-style:none;
}
.hr { clear:both; float:none; }
.hr hr { display:none; }
a {
    text-decoration:none;
    color:#69f;
    outline:none;    
}
a:hover {
    color:#4D81B3;
}

/*
    end resets
*/

#t_sidebar_container { 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 1256px; 
        height: 150px;
		overflow:hidden;
        /*background: url('/s/graphics/sidebar_back.png') repeat-y; */
}

#mytable {
border-collapse: collapse; /* 'cellspacing' equivalent */
}

table td, 
table th,
table tr{
padding: 0; /* 'cellpadding' equivalent */
}

#center_cell{
    color: white;

    background: linear-gradient(271deg, #246655, #245166, #245166, #246655);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}