﻿/* DEFAULTS
----------------------------------------------------------*/
BODY {
	color: #444444;
	background-color: #000;
	margin: 0px 0px 0px 0px;
	padding:0;
	font: 13px/1.333 "lucida grande", tahoma, sans-serif;
	width:100%;
}

	#PageOutline { text-align: center; margin-top: 0px; width:100%; height:auto; overflow:visible; }
	#ContentWrapper { width:1325px; margin-left:auto; margin-right:auto; overflow:visible; }
	#flashContentContainer { width:1325px; height:1245px; }
	#flashContent { width:1245px; height:1245px; float:left }
	#rightSizer { width:76px; height:1245px; float:left }
	#LoginSm {width:600px; margin-left:auto; margin-right:auto;}
	.footdiv {background-color:#333; height:20px; text-align:center; padding:10px 5px 5px 5px; display:block; float:none;}
	.footdiv a { color:#CCC;}
	
	
	
	 a, a:visited { color:#0CF; }
     a:hover, a:focus, a:active { text-decoration: none; }
	 fieldset { font:100%/1 "lucida grande", tahoma, sans-serif; color:#FFF;}
	 

        h1 { margin: 0 0 0.5em; font-size: 28px;  font-weight: normal; }
        h2 { margin: 0 0 0.75em; font-size: 15px; }
        /*p { margin: 0 0 1.333em; }
        em { font-style: italic; }
        table { border-collapse: separate; border-spacing: 0; margin:  0; vertical-align: middle; }
        th { font-weight: bold; }
        th, td { padding: 5px 25px 5px 5px; text-align: left; vertical-align: middle; }
        pre, code { font-family: monospace, sans-serif; font-size: 1em; color:#FFFFFF; }
        pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
        ul { list-style: square; margin: 1em 0 1em 0px; padding: 0; }*/
		

        /* TEMPLATE */

       /* .container { position:relative; overflow:hidden; max-width: 600px; _width: 600px; padding: 40px 60px; border: 1px solid #ccc; margin: 0 auto; background: #fff; }

        .container pre,
        .container .prettyprint { padding: 0; border: 0; margin: 0 0 20px; background: #fff; }

        .ribbon { position: absolute; top: -1px; right: -1px; opacity: 0.9; }
        .ribbon:hover, .ribbon:focus, .ribbon:active { opacity: 1; }
        .ribbon img { display: block; border: 0; }

        .header { padding-right: 80px; }
        .header p { font-size: 18px; color: #808080; }

        .section { margin: 40px 0 20px; }

        .example { padding: 20px; border: 1px solid #ccc; margin: 10px -20px 20px; }
        .example p { margin: 15px 0 0; }
        .example p:first-child { margin: 0; }

        .footer { margin: 20px 0 50px; font-size: 11px; color: #666; text-align: center; }
        .footer a { color: #666;}*/

        /* SMALL */

/*        @media (max-width: 500px) {
            body { padding: 0; }
            .container { padding: 20px 30px; }
            .footer { margin-bottom: 20px; }
        }*/